# Dataset 
data/

# Kaggle credentials
kaggle.json
.kaggle/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Zip files
*.zip

# IDE settings
.vscode/